@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');


$colorSpecial :  #44a2a8;
$subtitle: #717076;
$color : #2F2E33; 

* {
    font-family: 'Raleway', sans-serif;
    color: $color !important;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.row {
    margin-right: 10px;
    margin-left: 10px;
}
.col {
    max-width: 90% !important;
}
button {
    padding: 10px 20px 10px 20px;
}
button {
    cursor: unset !important;
    background-color: #FFFFFF !important;
    border: unset !important;
    border-radius: unset !important;
    font-size: 20px;
    a {
        text-decoration: none !important;
    }
}
.button-linkedin {
    cursor: pointer;
}
.button-linkedin:hover{
    background-color: $colorSpecial !important;
    a:hover {
        color: #FFFFFF !important;
    }
}
/*NAVBAR*/
.navbar-style {
    .subtitle {
        color: $subtitle;
    }
    .nav {
        top: 0;
        left: 0;
        right: 0;
        height:auto;
        margin: auto;
        .icons {
            margin-bottom: 5px;
            margin-right: 5px;
        }
       
    }
    button {
        cursor: pointer !important;
    }
    button:focus {
        outline: none !important;
    }
    bouton:active {
        outline: none !important;
    }
    
    .nav-link {
        /*color: $color!important;*/
        line-height: 32px;
        font-size: 20px;
    }
    
    .nav-link:hover {
        color: $colorSpecial !important;
    }
    .nav-link:focus {
        color: $colorSpecial !important;
    }
}

/*NAVBAR*/

/*FOOTER*/
.footer {
    padding: 0;
    .contact {
        margin-bottom: 60px;
        margin-top: 60px;
        padding: 0;
        .bg-color {
            background-color: $colorSpecial;
            display: flex;
            justify-content: center;
            .cta-wrapper {
                padding-top: 100px;
                padding-bottom: 100px;
                flex-direction: column;
                h3 {
                    letter-spacing: 8px;
                    color: #fff !important;
                    margin-bottom: 40px;
                }
                .row {
                    justify-content: center;
                    .btn-large {
                        padding: 10px 54px;
                        font-size: 1.1em;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        line-height: 1.8em;
                        border-radius: 0;
                        margin-top: 20px;
                        color: $colorSpecial !important;
                        font-weight: bold;
                        background-color: #FFFFFF;
                    }
                    .btn {
                        margin-bottom: 0;
                    }
                    .btn-large:hover {
                        color:$color !important;
                        background-color: #FFFFFF;
                    }
                    p {
                        font-size: 1.1em;
                        letter-spacing: 3px;
                        line-height: 1.8em;
                        font-weight: bold;
                        color: #FFF !important;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .legal {
    background-color: $colorSpecial;
    height: 153px;
    display: flex;
    justify-content: center;
    }
    .nav-link {
        margin: auto;
        display: block;
        padding: 0;
        color: #FFFFFF !important;
        font-size: 25px;
    }
}
/*FOOTER*/

/*PORTFOLIO*/
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .nav-link {
        padding: 0 !important;
    }
    .mobile {
        display: none;
    }
    .computer {
        display: block;
    }
    .header {
        margin-top: 80px;
        margin-bottom: 80px;
        .presentation {
            margin-left: 120px !important;
            .name {
                font-size: 64px;
                opacity: 1;
                text-align: initial;
            }
            p {
                font-size: 20px;
                opacity: 0.6;
                text-align: justify;
            }
            .cta {
                justify-content: flex-start;
                margin: 0;
                .btn {
                    padding: 10px 54px;
                    font-size: 1.1em;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    line-height: 1.8em;
                    border-radius: 0;
                    margin-top: 20px;
                    color: #FFFFFF !important;
                    font-weight: bold;
                    background-color: $colorSpecial !important;
                }
                .btn:hover {
                    color:$color !important;
                    background-color: #FFFFFF;
                }
                p {
                    font-size: 1.1em;
                    letter-spacing: 3px;
                    line-height: 1.8em;
                    font-weight: bold;
                    color: #FFF !important;
                    margin-top: 20px;
                }
            }
        }
        .portrait {
            display: flex;
            justify-content: center;
            img {
                height: 300px;
                width: auto;
            }
        }
    }
    .projects {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
        .row {
            margin:auto;
            justify-content: center;
            display: flex;
        }
        img {
            margin: auto;
            cursor: pointer;
            margin-top: 60px;
            transition: transform .2s;
        }
        img:hover {
            transform: scale(1.1);
        }
        p {
            margin-bottom: 0;
            margin-top: 30px;
            font-size: 20px;
        }
        .subtitle {
            margin-bottom: 60px;
            margin-top: 0;
            opacity: 0.6;
        }
    }
}
/*PORTFOLIO*/

/*PORTFOLIO DETAILS*/
.portfolio-details {
    button {
        border: 1px solid #E4E4E4 !important;
        margin-top: 80px;
        padding: 20px 40px 20px 40px;
    }
    button:hover {
        background-color: $colorSpecial !important;
        border: none !important;
        a{
            color: #FFFFFF !important;
        }
    }
    .header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 64px;
            margin-top: 120px;
        }
        p {
            font-size: 20px;
            opacity: 0.6;
            margin-top: 20px;
        }
    }
    .containt {
        div {
            margin-top: 120px;
            margin-left: auto;
            margin-right: auto;
        }
        h2 {
            color: $colorSpecial !important;
            font-size: 20px;
            margin-bottom: 20px;
        }
        p {
            text-align: justify;
            font-size: 16px !important;
        }
        img {
            margin-top: 80px;
        }
        .center {
            text-align: center;
        }
    }
}

/*L'ALTERNANCE*/
.alternance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .presentation {
        display: flex;
        justify-content: flex-start;
        margin: 120px !important;
        flex-direction: column;
        text-align: initial;

        .title {
            font-size: 64px;
            opacity: 1;
        }
        p {
            font-size: 20px;
            opacity: 0.6;
            text-align: justify;
        }
        span {
            color: $colorSpecial !important;
            font-weight: bold;
            font-size: 22px;
        }
    }
    img {
        height: auto;
        width: 500px;
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }
    .details {
        div {
            margin-left: 2vw;
            margin-right: 2vw;
        }
        h2 {
            margin-top: 120px;
        }
        .nomargin {
            margin-top: 120px;
        }
        p {
            text-align: justify;
            margin-bottom: 0;
        }
    }
}
/*L'ALTERNANCE*/

/*ABOUT*/
.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .presentation {
        display: flex;
        justify-content: flex-start;
        margin-left: 120px !important;
        margin-right: 120px !important;
        flex-direction: column;
        text-align: initial;
        p {
            font-size: 20px;
            opacity: 0.6;
            text-align: justify;
            margin-top: 20px;
        }
        .mindmap {
            height: auto;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }
    }
    .recommandations {
        h2 {
            margin-top: 60px;
        }
        p {
            font-size: 20px;
            opacity: 0.6;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 60px;
        }
        .accordion>.card>.card-header {
            color: #ffffff !important;
            background-color: $colorSpecial;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            border: none !important;
        }
        .accordion>.card {
            margin-bottom: 20px;
            border-color: #A3D6CC;
        }
        .card-body {
            text-align: center;
        }
        .card-body>span {
            color: $colorSpecial !important;
            font-weight: bold;
        }
    }
}
/*ABOUT*/

/*LEGAL*/
.legal {
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: 20px;
    .row {
        margin: 20px;
    }
    span {
        font-weight: bold !important;
    }
    p {
        text-align: justify;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .title {
        justify-content: center;
        h1 {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }
    .presentation {
        justify-content: start;
    }
}
@media screen and (max-width: 1120px)
{
    .alternance {
        .presentation {
            margin: 0 !important;
        }
        .oc {
            display: none;
        }
    }
    .about {
        .presentation {
            margin: 0 !important;
            .mindmap {
                display: none;
            }
        }
        .oc {
            display: none;
        }
    }
    .portfolio {
        .header {
            .presentation {
                margin: 0 !important;
                .name {
                    font-size: 55px;
                }
            }
            .portrait {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 800px)
{
    .portfolio {
        .projects {
            .computer {
                display: none !important;
            }
            .mobile {
                display: block !important;
            }
            .col {
                border: 1px solid $colorSpecial !important;
                margin-top: 20px;
                a {
                    padding: 10px 54px;
                    font-size: 1.1em;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    line-height: 1.8em;
                    border-radius: 0;
                    margin-top: 20px;
                    color: #FFF !important;
                    font-weight: bold;
                    background-color: #A3D6CC;
                    text-decoration: none !important;
                }
            }
        }
    }
    .legal {
        .p {
            text-align: start !important;
        }
    }
}

@media screen and (max-width: 420px)
{
    .portfolio {
        .header {
            .presentation {
                .name {
                    font-size: 50px;
                }
            }
        }
    }
    .alternance {
        .presentation {
            .title {
                font-size: 50px;
            }
        }
    }
    .bg-color {
        .cta-wrapper {
            h3 {
                display: none;
            }
        }
    }
}
